


<!----------------------- Main Container -------------------------->
<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 background-blur">

    
    <!----------------------- Login Container -------------------------->
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!--------------------------- Title  ----------------------------->
        <div class=" rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #06581b;">
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">UMA NOVA FORMA</p>
            <p class="text-white fs-2 text-center " style="font-family: 'Courier New', Courier, monospace; font-weight: 100; line-height: 1.5;">Controlar o seu rebanho pode sim se tornar uma tarefa eficiente.</p>
        </div>
        <!-------------------- ------ Content ---------------------------->
        <div class=" right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <p class="fs-5">
                        Nosso aplicativo de gerenciamento bovino é a escolha certa para modernizar e aprimorar sua gestão pecuária. Com uma equipe dedicada e anos de experiência no setor, estamos empenhados em oferecer soluções personalizadas que impulsionarão sua fazenda para o futuro.</p>
                        <p class="fs-5">
                            Nossa plataforma é projetada para simplificar a gestão do seu rebanho, fornecendo ferramentas intuitivas e eficazes. Desde o controle de saúde dos animais até o acompanhamento de registros financeiros, nosso aplicativo oferece tudo o que você precisa em um só lugar.
                        </p>
                        <p class="fs-5">Além disso, estamos sempre inovando e aprimorando nossa tecnologia para atender às suas necessidades em constante evolução. Conte conosco para ajudá-lo a otimizar sua produção e impulsionar seu sucesso na pecuária.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
