@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/* CSS para o fundo com desfoque */

.background-blur {
    background-image: url('../../assets/img/fazenda.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; 
    /* Ajuste o valor para controlar o nível de desfoque */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca o fundo atrás do conteúdo */
}

.solid-red{
    border: 1px solid red;
}


/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

.left-box{
    height: 200px;
    overflow: hidden;
 }


/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 200px;
        overflow: hidden;
     }
     .right-box{
        padding: 10px;
     }

}