<mat-card>
  <b><span>Manage Animal</span></b>
  <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">
      <mat-icon>add_circle</mat-icon> Add Animal
  </button>
</mat-card>

<!--
<hr>
  <mat-card>
      <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
  </mat-card>
  <hr>
-->
<div class="animal-list">

  
  
   
    <app-animal-card
      *ngFor="let animal of filteredAnimals?.content; index as i"
      [price]="price"
      [animal]="animal"
      [numero]="i + 1"
    ></app-animal-card>

    <!-- <app-animal-card
      *ngFor="let page of filteredAnimals">
        <ng-container *ngFor="let animal of page.content">
          [animal]="animal"
          [numero]="i + 1"
        </ng-container>
      </app-animal-card>
    -->
      
    
  </div>

  <!--<div class="animal-list">
    <app-animal-card
      *ngFor="let page of filteredAnimals; let i = index"
      [numero]="i + 1"
    >
      <ng-container *ngFor="let animal of page.content">
        [animal]="animal"
      [numero]="i + 1"
      </ng-container>
    </app-animal-card>
  </div>-->
  