<mat-card>
  <b><span>Manage Animal</span></b>
  <input type="text" class="search-input" [(ngModel)]="filterValue" placeholder="Encontre pelo nome" (input)="onSearch()">
  <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">
      <mat-icon>add_circle</mat-icon> Add Animal
  </button>
</mat-card>

<div class="animal-list">

  
  
   
    <app-animal-card
      *ngFor="let animal of filteredAnimals?.content; index as i"
      [price]="price"
      [animal]="animal"
      [numero]="i + 1"
    ></app-animal-card>

      <nav aria-label="Page navigation " class="col-12">
        <ul class="pagination justify-content-end">

          <li class="page-item" (click)="changePage(filteredAnimals?.number - 1)" [class.disabled]="!filteredAnimals || filteredAnimals.first">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
            </a>
          </li>
        
          <!-- <li class="page-item" *ngFor="let page of generatePageNumbers(filteredAnimals?.totalPages)" [class.active]="page === filteredAnimals?.number+1">
            <a class="page-link" href="#" (click)="changePage(page-1)">{{ page }}</a>
          </li> -->

          <li class="page-item" *ngFor="let page of generatePageNumbers(filteredAnimals?.totalPages)"
            [class.active]="page-1 === filteredAnimals?.number+1" 
              [ngClass]="{'focus': page-1 === filteredAnimals?.number+1}">
            <a class="page-link" href="#" (click)="changePage(page-1)">{{ page }}</a>
          </li>
          
          
        
          <li class="page-item" (click)="changePage(filteredAnimals?.number + 1)" [class.disabled]="!filteredAnimals || filteredAnimals.last">
            <a href="#" class="page-link" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
            </a>
          </li>
        </ul>
        
      </nav>
   
    
  </div>

  
  