<mat-card>
  <b><span>Manage Animal</span></b>
  <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">
      <mat-icon>add_circle</mat-icon> Add Animal
  </button>
</mat-card>

<hr>
  <mat-card>
      <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
  </mat-card>
  <hr>

<div class="animal-list">

  
  
    <app-animal-card
      *ngFor="let animal of filteredAnimals; index as i"
      [animal]="animal"
      [numero]="i + 1"
    ></app-animal-card>
      
    
  </div>