<body>
    <mat-card>
        <b>
            <span><h2>OxDashBoard</h2></span>
        </b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total de Bois: </h2>
                    <h1 class="title">{{dataOxQuantity}}</h1>
                   
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Media do Peso dos Bois:</h2>
                    <h1 class="title">{{dataOxWeight}}</h1>
                
                </div>
            </div>
        </div>
    </div>
</body>
