<body>
    <mat-card>
        <b>
            <span><h2>OxDashBoard</h2></span>
        </b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total de Bois: </h2>
                    <h1 class="title">{{dataOxQuantity}}</h1>
                   
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Media do Peso dos Bois:</h2>
                    <h1 class="title">{{dataOxWeight}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 chart-container">
            <app-ox-weight-chart></app-ox-weight-chart> 
        </div>
    </div>
    <div class="row">
        <div class="col-6 ">
            <app-last-animals-added></app-last-animals-added>
          </div>
        <div class="col-6 chart-container">
          <app-ox-sex-chart></app-ox-sex-chart>
        </div>
    </div>
</body>
